.cart {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 5px;
}




.cartTotal_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cartTotal_div > p{
    font-weight: 600;
    letter-spacing: 2px;
}





.cartQuantity_div {
    display: flex;
    justify-content: space-between;
}



.xxcv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.xxcv>img {
    width: 4rem;
}


.xxcv > p:first-of-type{
    font-weight: 600;
}

.xxcv > p:last-child{
    cursor: pointer;
}


.quantityCounter{
    padding: 1rem;
}

.quantityCounter>span:nth-child(1){
    padding: .8rem;
    user-select: none;
    cursor: pointer;
}
.quantityCounter>span:nth-child(2){
    padding: .8rem;
    margin: 0 1rem ;
    user-select: none;
}
.quantityCounter>span:nth-child(3){
    padding: .8rem;
    cursor: pointer;
    user-select: none;
}