@import url(/src/App.css);



.zx9Intro{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
    background: url(assets/home/desktop/pattern-circles.svg);
    background-size: cover;
    background-color: var(--Clr-Orange);
    border-radius: 1rem;
    padding: 3rem 0;
    overflow: hidden;
}




.zx9Intro_img{
    width: clamp(50%, 10vw + 2rem , 410px);
    margin: 4rem 0 -4rem 0;
    justify-self: center;
}




.zx9Intro_text {
    display: flex;
    flex-direction: column;

    place-content: center;
    align-items: start;
    gap: 1rem;

    color: var(--Clr-White);
}



.zx9Intro_text>h2 {
    font-size: clamp(2.2rem, 1rem + 4vw, 3rem);
    line-height: 1;
}



.zx9Intro_text>p {
    max-width: 40ch;
}


@media (width < 900px) {

    .zx9Intro{
        gap: 5rem;
    }

    .zx9Intro_text {
        text-align: center;
        place-items: center;
        
    }
}